body {
  margin: 0 auto;
}

.history{
  font-family: 'happy monkey';
  font-size: 40px;
  text-shadow: #686868 1px 1px 2px;
}
.background {
  background: #292E49;
  background: -webkit-linear-gradient(to top, #BBD2C5, #536976, #292E49);
  background: linear-gradient(to top, #BBD2C5, #536976,  #292E49);

  z-index: -100;
  background-size: cover;
  background-attachment: fixed;
  background-repeat:repeat;
  background-position: center;
  height: 100%;
}

#clock {
  font-size: 30px;
  font-family: 'happy monkey';
  font-style: bold;
}

/* styling for the header/menu nav. */
.topnav {
  font-size: 43px;
  font-family: "happy monkey";
  /* padding: 3px 53px; */
}

a:-webkit-any-link {
    color: #ffff;
    cursor: pointer;
    text-decoration: none;
    text-shadow: black 1px 1px 1px;
}

/*Used for vertically aligning, this is the outer/parent tag*/
.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Used for vertically aligning, this is the inner/child tag*/
.aligner-item {
  max-width: 50%;
  align-items: right;
  justify-content: flex-end;
}

/* main styles for the button that completes tasks. */
.round-button {
    display: inline;
    width: 60px;
    height: 60px;
    line-height:100px;
    border: 3px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-decoration: none;
    background: #4b70ff;
    box-shadow: 0px 0px 15px #ff7141;
    font-size:20px;
    font-weight: bold;
    margin-bottom: 1em;
}

/* Controls hover behavior for button that completes tasks. */
.round-button:hover {
    background: #ff7141;
    transition-duration: .2s;
}

/* controls behavior of the task completion button after a user clicks it.  */
.round-button:active {
  background-color: #4b70ff;
  box-shadow: 0px 0px 35px #ff7141;
  transform: translateY(4px);
}

.round-button-disabled {
    margin: -52px 0px 0px -9px;
    width: 60px;
    height: 60px;
}

.rakList {
  border-radius: 15px;
  height: auto;
  width: 50em;
}


li {
  font-family: 'happy monkey';
  font-size: 25px;
  list-style-position: inside;
  list-style: none;
  border-bottom: grey 1px solid;
  margin-top: 2%;
  margin-right: 3%;
}

.kpScores {
  height: 30em;
  width:23em;
}

.total-kp-score{
  font-size: 40px;
  font-family: 'happy monkey';
  position: absolute;
  margin: 45px 0 0 20px;
}
.total-kindness-point-styling {
  font-size: 16px;
  font-family: 'happy monkey';
}
.flex {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

.daily-timer {
  font-size: 25px;
  color: #BBD2C5;
  font-family: 'happy monkey';
  text-shadow: black 1px 1px 3px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: column;
  justify-content: center;
  margin-top: 2em;
}

.boxes {
  box-shadow: grey 1px 1px 1px;
  border-radius: 15px;
  margin-top: 1em;
  margin-bottom: 15em;
  background-color: #ffffff;
}

img{
  height: 3em;
  margin-top: 4em;
  margin-left: 7em;
}

.points {
  font-family: 'happy monkey';
  font-size: 15px;
  margin-top: 6em;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
  margin-top: 2em;
  margin-left: 40px;
}

/* STRIKEOUT STYLE FOR COMPLETED ACTS-INSERTS CSS STRIKE-THROUGH CLASS TO HTML ON BUTTON click */
.completed-task-strikeout {
  text-decoration: line-through;
}

/* Small Screens */
@media only screen and (min-width : 300px) {
  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .topnav {
    font-size: 28px;
  }
  li {
    font-size: 16px;
    margin-top: 1%;
    margin-right: 2%;
  }
}

/* Medium Screens */
@media only screen and (min-width : 768px) {
  .topnav {
    font-size: 34px;
  }
  li {
    font-size: 20px;
    margin-top: 2%;
    margin-right: 3%;
  }
}

/* Large Screens */
@media only screen and (min-width : 1200px) {
  .topnav {
    font-size: 43px;
    /* padding: 3px 53px; */
  }
  #clock {
    font-size: 40px;
  }
  li {
    font-size: 25px;
    margin-top: 2%;
    margin-right: 3%;
  }

  /*Used for vertically aligning, this is the outer/parent tag*/
  .aligner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /*Used for vertically aligning, this is the inner/child tag*/
  .aligner-item {
    max-width: 50%;
  }
}
/* END OF STYLES.CSS FILE */
