body {
  margin: 0 auto;
}
.background {
  background: #292E49;
  background: -webkit-linear-gradient(to top, #BBD2C5, #536976, #292E49);
  background: linear-gradient(to top, #BBD2C5, #536976,  #292E49);

  z-index: -100;
  background-size: cover;
  background-attachment: fixed;
  background-repeat:repeat;
  background-position: center;
  height: 100%;
}

.rakList {
  border-radius: 15px;
  height: 30em;
  width: 50em;
}
li {
  font-size: 20px;
  list-style-position: : inside;
  list-style: none;
  text-align: ;
  /* border-radius: 15px; */
  border-bottom: grey 1px solid;
  /* border: grey 1px solid; */
  height: 3em;
  margin-right: 35px;
  margin-left: 35px;
}

.kpScores {
  height: 30em;
  width:23em;
}

.flex {
  /* margin-top: 20em; */
  display: flex;
  justify-content: space-evenly;
}

.boxes {
  border: #a3a3a3 .5px solid;
  border-radius: 15px;
  margin-top: 15em;
  margin-bottom: 15em;
  background-color: rgba(255, 253, 250, .9);
}

img{
  height: 3em;
  margin-top: 9em;
  margin-left: 9em;
}




/* Small Screens */
@media only screen and (min-width : 300px) {
  .flex {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
  }
  .background {
    background-size: 100%;
    background-attachment: fixed;
    background-repeat:repeat;
    background-position: center;
    overflow: scroll;
  }
}
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
  margin-left: 56px;
}



/* Medium Screens */
@media only screen and (min-width : 768px) {
  /* .flex {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
  }
  .background {
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center;
    overflow: scroll;
  }
} */

/* Large Screens */
@media only screen and (min-width : 1200px) {
}
