body {
  margin: 0 auto;
}


/* styling for the header/menu nav. */

.topnav {
  font-size: 43px;
  font-family: "happy monkey";
  padding: 3px 53px;
}

a:-webkit-any-link {
    color: #ffff;
    cursor: pointer;
    text-decoration: none;
    text-shadow: black 1px 1px 1px;
}



/* main styles for the button that completes tasks. */
.round-button {
    display: inline;
    width: 60px;
    height: 60px;
    line-height:100px;
    border: 3px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-decoration: none;
    background: #4b70ff;
    box-shadow: 0px 0px 15px #ff7141;
    font-size:20px;
    font-weight: bold;
    margin-bottom: 1em;
}

/* Controls hover behavior for button that completes tasks. */
.round-button:hover {
    background: #ff7141;
    transition-duration: .2s;
}

/* controls behavior of the task completion button after a user clicks it.  */
.round-button:active {
  background-color: #4b70ff;
  box-shadow: 0px 0px 35px #ff7141;
  transform: translateY(4px);
}

.round-button-disabled {
    margin: -52px 0px 0px -9px;
    width: 60px;
    height: 60px;
}


.background {
  background: #292E49;
  background: -webkit-linear-gradient(to top, #BBD2C5, #536976, #292E49);
  background: linear-gradient(to top, #BBD2C5, #536976,  #292E49);

  z-index: -100;
  background-size: cover;
  background-attachment: fixed;
  background-repeat:repeat;
  background-position: center;
  height: 100%;
}

.rakList {
  border-radius: 15px;
  height: auto;
  width: 50em;
}

li {
  font-family: 'happy monkey';
  font-size: 25px;
  list-style-position: : inside;
  list-style: none;
  text-align: ;
  border-bottom: grey 1px solid;
  margin-top: 2%;
  margin-right: 3%;
}

.kpScores {
  height: 30em;
  width:23em;
}

.flex {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}
.daily-timer {
  font-size: 25px;
  color: #BBD2C5;
  font-family: 'happy monkey';
  text-shadow: black 1px 1px 3px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: column;
  justify-content: center;
  margin-top: 2em;
}

#clock {
  font-size: 30px;
  font-family: 'happy monkey';
  font-style: bold;
}
.boxes {
  box-shadow: grey 1px 1px 1px;
  border-radius: 15px;
  margin-top: 1em;
  margin-bottom: 15em;
  background-color: #ffffff;

}

img{
  height: 3em;
  margin-top: 4em;
  margin-left: 9em;
}

.points {
  font-family: 'happy monkey';
  font-size: 15px;
  margin-top: 6em;
}
.canvas-style {
  z-index: 100;
}
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
  margin-top: 3em;
  margin-left: 40px;

}




/* Small Screens */
@media only screen and (min-width : 300px) {
  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .background {
    background-size: 100%;
    background-attachment: fixed;
    background-repeat:repeat;
    background-position: center;
    overflow: scroll;
  }
}


/* Medium Screens */
@media only screen and (min-width : 768px) {
  /* .flex {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
  }
  .background {
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center;
    overflow: scroll;
  } */
}

/* Large Screens */
@media only screen and (min-width : 1200px) {
}
